.App{
  min-height: 100vh;
  height: 100%;
  text-align: center;
  background-color: #202020;
}

/* ===== Scrollbar CSS ===== */
  *::-webkit-scrollbar {
    width: 7px;
  }

  *::-webkit-scrollbar-track {
    background: inherit;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #9E9E9E;
    border-radius: 5px;
    border: 3px solid inherit;
  }
/* === ^ Scrollbar CSS ^ === */