/* Nav-Bar */
.nav-bar{
  position: fixed;
  height: 87vh;
  width: 20vw;
  overflow-y: scroll;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  display: grid;
  grid-template-columns: repeat(1, 2fr);
}
/* ^ Nav-Bar ^ */

/* ===== Scrollbar CSS ===== */
  *::-webkit-scrollbar {
    width: 7px;
  }

  *::-webkit-scrollbar-track {
    background: #202020;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #9E9E9E;
    border-radius: 5px;
    border: 3px solid inherit;
  }
/* === ^ Scrollbar CSS ^ === */


/* Resultados */
.results-container {
  height: 81vh;
  padding-top: 3vh;
  margin-left: 21.5vw;
  border-left: 1px solid #9E9E9E;  
}

.results-container .MuiListItem-root {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  padding: 10px;
}
/* ^ Resultados ^ */