.App {
  text-align: center;
}

/* Header */
.App-header {
  background-color: #202020;
  min-width: 100vw;
  height: 15vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-direction: column;
  justify-content: center;
  position: fixed;
  color: white;
}


.App-logo {
  height: 5vmin;
  width: 15vmin;
  pointer-events: none;
  margin-top: 5vh;
  margin-right: 15vw;
}

.tittle {
  font-size: calc(1.5vw + 1vh);
  margin-top: 5%;
}

.cadastra-cand {
  font-size: calc(0.5vw + 0.7vh);
  text-decoration: underline;
  color: white;
  position: absolute;
  margin-top: 2.25%;
  margin-left: 5%;
}

.cadastra-cand:hover {
  color: #29AFBD;
}


/* Nav-Bar */
.div-nav-bar{
  background-color: #353535;
  display: grid;
  grid-template-columns: repeat(1, 3fr);
  min-height: 85vh;
  max-height: fit-content;
  left: 0px;
  position: fixed;
  bottom: 0;
  width: 25vw;
  color: white;
}

.busca {
  background-color: #353535;
  border-bottom-style: solid;
  border-bottom-color: #9E9E9E;
  border-bottom-width: 3px;
  height: 50%;
  display: grid;
}

.mais-filtros {
  background-color: rgb(177, 94, 94);
  overflow-y: scroll;
  height: 50%;
}